:root{
    --bg: hsl(233, 47%, 7%);
    --card: hsl(244, 38%, 16%);
    --span: hsl(277, 64%, 61%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    place-content: center;
    background-color: var(--bg);
}

main{
    display: inline-block;
    margin: auto;
}

.left{
    background-color: var(--card);
    max-width: 500px;
    height: 400px;
}

.right img{
    max-width: 800px;
    height: 400px;
}

.bottomLeft{
    display: grid;
    grid-template-columns: 3rem 3rem 3rem;
}