@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root{
    --bg: hsl(233, 47%, 7%);
    --card: hsl(244, 38%, 16%);
    --span: hsl(277, 64%, 61%);
    --main-text: hsla(0, 0%, 100%, 0.75);
    --stats: hsla(0, 0%, 100%, 0.6); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    place-content: center;
    background-color: var(--bg);
}

main{
    display: grid;
    grid-template-columns:auto auto;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3.5rem 5rem;
    background-color: var(--card);
    border-radius: 6px 0 0 6px;
    max-width:700px;
    max-height: 520px;
}

.left h1{
    color: #fff;
    font-size: 2.6rem;
    font-family: 'Inter', sans-serif;
    padding-left: 1rem;
}

.left span {
    color: var(--span);
}

#mainText{
    color: var(--main-text);
    padding-right: 4rem;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    
}

.right{
    border-radius: 0 6px 6px 0;
    background-color: var(--span);
    max-height: 520px;
}

.right #img {
    border-radius: 0 6px 6px 0;
    max-width: 700px;
    height: 520px;
    opacity: .56;
}

.bottomLeft{
    display: flex;

}

.bottom {
    color: var(--stats);
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.bottom:not(:last-child){
    margin-right: 5rem;
}

.bottom strong{
    color: #fff;
    font-size: 1.5rem;
}